/upload/*
/view/node_modules/*

# bootstrap-daterangepicker
!/view/node_modules/bootstrap-daterangepicker
/view/node_modules/bootstrap-daterangepicker/*
!/view/node_modules/bootstrap-daterangepicker/daterangepicker.*
!/view/node_modules/bootstrap-daterangepicker/moment.*

# signature_pad
!/view/node_modules/signature_pad
/view/node_modules/signature_pad/*
!/view/node_modules/signature_pad/dist

# jsbarcode
!/view/node_modules/jsbarcode
/view/node_modules/jsbarcode/*
!/view/node_modules/jsbarcode/dist
