<style>

#top-section{
	background: #009966;
	height: 70px;
	padding: 10px;
}
#top-section h1{
	height: 50px;
	line-height: 50px;
	margin: 0;
	color: #FFF;
}

.my-container{
	padding-top: 20px;
}
.my-thumbnail:hover{
	box-shadow: 0 0 6px 0 #555;
}
.my-thumbnail a:hover{
	text-decoration: none;
}

</style>
<div id="top-section" class="clearfix">
	<h1 class="text-center"><i class="fa fa-building"></i>&nbsp;心内科平面图</h1>
</div>
<div class="container-fluid my-container">
	<div class="col-md-3">
		<div class="thumbnail my-thumbnail">
			<a href="<?=site_url('floor/show_floor/1')?>">
				<img src="<?=base_url('view/img/floor1.jpg')?>">
				<div class="caption">
					<h3>1楼：放射科</h3>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="thumbnail my-thumbnail">
			<a href="<?=site_url('floor/show_floor/2')?>">
				<img src="<?=base_url('view/img/floor2.jpg')?>">
				<div class="caption">
					<h3>2楼：体检中心</h3>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="thumbnail my-thumbnail">
			<a href="<?=site_url('floor/show_floor/3')?>">
				<img src="<?=base_url('view/img/floor3.jpg')?>">
				<div class="caption">
					<h3>3楼：心内一科</h3>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="thumbnail my-thumbnail">
			<a href="<?=site_url('floor/show_floor/4')?>">
				<img src="<?=base_url('view/img/floor4.jpg')?>">
				<div class="caption">
					<h3>4楼：心内二科</h3>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="thumbnail my-thumbnail">
			<a href="<?=site_url('floor/show_floor/5')?>">
				<img src="<?=base_url('view/img/floor5.jpg')?>">
				<div class="caption">
					<h3>5楼：心内三科</h3>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="thumbnail my-thumbnail">
			<a href="<?=site_url('floor/show_floor/6')?>">
				<img src="<?=base_url('view/img/floor6.jpg')?>">
				<div class="caption">
					<h3>6楼：透析室</h3>
				</div>
			</a>
		</div>
	</div>
</div>