<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<link rel="stylesheet" type="text/css" href="<?=base_url('view/css/bootstrap.css')?>">
<style type="text/css">
#login{
	width: 400px;
	height: 500px;
	background: pink;
	margin: auto;
	margin-top: 50px;
	padding: 30px;
}
</style>
</head>
<body>
<div id="login">
	<h1 class="text-center">医院系统登录</h1>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label">工号</label>
			<div class="col-sm-10">
				<input type="email" class="form-control" id="user-id" placeholder="工号">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">密码</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="user-pwd" placeholder="密码">
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-info" onclick="check_login()">登录</button>
			</div>
		</div>
	</form>
	
	<p>请使用工号登录，若无法登录请联系123</p>
</div>
<script src="<?=base_url('view/js/jquery-1.10.2.min.js')?>"></script>
<script type="text/javascript">
function check_login(){
	var user_id = $("#user-id").val();
	var user_pwd = $("#user-pwd").val();


	$.ajax({
		url : "<?=site_url('user/login')?>",
		data : {
			'user_id' : user_id,
			'user_pwd' : user_pwd
		},
		type : 'post',
		dataType : 'json',
		success : function(data){
			if(data['state'] == 1){
				alert('登录成功');
			}else if(data['state'] == 0){
				alert('登录失败');
			}
		}
	});
}
</script>
</body>
</html>