<div class="panel panel-success">
	<div class="panel-heading">
		<h2 class="text-center">患者信息</h2>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table id="sample-table" class="table table-striped table-bordered table-hover" width="100%">
				<thead>
					<tr>
						<th>住院号</th>
						<th>患者姓名</th>
						<th>押金余额</th>
						<th>科别</th>
						<th>病房</th>
						<th>病床</th>
						<th>操作</th>
					</tr>
				</thead>

			</table>
		</div>

	</div>
</div>

<script type="text/javascript">

//dataTable
var table = $('#sample-table').DataTable({
	"ordering": false,
	"searching": false,
	"serverSide": true,
    "ajax": "<?=site_url('patient/get_patient')?>",
    
	"columns": [
	   { "data": "pat_id" },
	   { "data": "pat_name" },
	   { "data": "cash_pledge" },
	   { "data": "department" },
	   { "data": "room_name" },
	   { "data": "sickbad" },
	   { 
       	"data": null,
	        "render": function(data) {
	        	var html = "<a class='btn btn-sm btn-primary' onclick='show_pay("+ data['pat_id'] +")'>缴费</a><a class='btn btn-sm btn-success' onclick='show_patient_info("+ data['pat_id'] +")'>获取详细信息</a><a class='btn btn-sm btn-warning' onclick='_call_print_patient("+ JSON.stringify(data) +")'>打印二维码</a><div id='js-hide-pfunc-"+ data['pat_id'] +"' style='display: none'><a class='btn btn-sm btn-info' onclick='show_add_temporary_orders("+ data['pat_id'] +")'>添加临时医嘱</a><a class='btn btn-sm btn-info' onclick='show_add_standing_orders("+ data['pat_id'] +")'>添加长期医嘱</a></div><a class='btn btn-sm btn-info' onclick='show_more_pfunc(this)'>更多</a>"
        		return html;
	    	}, 
		}
	],

  
  
	"language": {
		"processing": "处理中...",
		"lengthMenu": "显示 _MENU_ 项结果",
		"zeroRecords": "没有匹配结果",
		"info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
		"infoEmpty": "显示第 0 至 0 项结果，共 0 项",
		"infoFiltered": "(由 _MAX_ 项结果过滤)",
		"infoPostFix": "",
		"search": "搜索:",
		"searchPlaceholder": "搜索...",
		"url": "",
		"emptyTable": "表中数据为空",
		"loadingRecords": "载入中...",
		"infoThousands": ",",
		"paginate": {
		    "first": "首页",
		    "previous": "上页",
		    "next": "下页",
		    "last": "末页"
		},
		"aria": {
		    "paginate": {
		        first: '首页',
		        previous: '上页',
		        next: '下页',
		        last: '末页'
		    },
		    "sortAscending": ": 以升序排列此列",
		    "sortDescending": ": 以降序排列此列"
		},
		"decimal": "-",
		"thousands": "."
	},
   
});

function _call_print_patient(data){
	var patient = typeof data == 'string' ? JSON.parse(data) : data;
	print_patient(patient);
}
function show_pay(pat_id){
	$.confirm({
		title: '缴费',
	    content: '<form class="form-inline">'+
		    '<div class="form-group">'+
			    '<div class="col-md-offset-3"><div class="input-group"><div class="input-group-addon">金额</div><input type="text" class="form-control" id="js-payment-amount"><div class="input-group-addon">元</div></div></div>'+
	  		'</div>'+
		'</form>',
	    confirmButton: '缴费',
	    confirmButtonClass: 'btn-info',
	    cancelButton: '关闭',
	    cancelButtonClass: 'btn-warning',
	    closeIcon: true,
	    backgroundDismiss: false,
	    columnClass: 'col-md-6 col-md-offset-3',
		confirm: function () {
			var payment_amount = $("#js-payment-amount").val()
			if (isNaN(payment_amount)) {
				$.alert({
	        		title: '提示',
	        		content: '金额必须输入数字！',
				    confirmButton: '确定',
				    confirmButtonClass: 'btn-info',
	        	});
	        	return;
			}
        	// 进行缴费
        	$.ajax({
			    type: 'post',
			    url: "<?=site_url('patient/pay')?>",
			    data: {pat_id : pat_id, payment_amount: payment_amount},
			    success: function(data){
			    	ajax_success(data, table)
			    }
			});

	    },
	});
}

function show_more_pfunc(btn){
	$(btn).text($(btn).text() == '更多' ? '收回' : '更多');
	$(btn).prev().toggle();
}
function show_add_temporary_orders(pat_id){
<?php if($_SESSION['user']['role'] !== '医生') :?>
	$.alert({
		title: '警告',
	    content: '请使用医生账号添加医嘱',
	    confirmButton: '确定',
	    confirmButtonClass: 'btn-warning',
	    closeIcon: true,
	    backgroundDismiss: false,
	    columnClass: 'col-md-6 col-md-offset-3',
	});
	return;
<?php endif;?>
	$.confirm({
		title: '添加临时医嘱',
	    content: '<form id="js-to-form">'+
				  '<div class="form-group">'+
				    '<label>医嘱内容</label>'+
				    '<input type="text" name="to_content" class="form-control">'+
				  '</div>'+
				  '<div class="form-group">'+
				    '<label>医生签字</label>'+
				    '&nbsp;&nbsp;&nbsp;<div onclick="claer_doctor_sign()" class="btn btn-xs btn-success">清除</div>'+
				    '<div><canvas id="js-doctor-sign" style="border:1px solid #000"></canvas></div>'+
				  '</div>'+
				'</form>',
	    confirmButton: '添加',
	    confirmButtonClass: 'btn-info',
	    cancelButton: '关闭',
	    cancelButtonClass: 'btn-warning',
	    closeIcon: true,
	    backgroundDismiss: false,
	    columnClass: 'col-md-6 col-md-offset-3',
		onOpen: function () {
	        var canvas = document.querySelector("#js-doctor-sign");
			canvas.width = canvas.parentNode.clientWidth;
    		canvas.height = '230';
			window.DOCTOR_SIGN = new SignaturePad(canvas);
	    },
		confirm: function () {
			var temp_orders = $('#js-to-form').serializeArray();
			temp_orders.push({name:'doctor_sign',value: DOCTOR_SIGN.toDataURL()});
			temp_orders.push({name:'pat_id',value: pat_id});
        	// 进行缴费
        	$.ajax({
			    type: 'post',
			    url: "<?=site_url('Orders/add_temporary_orders')?>",
			    data: temp_orders,
			    success: function(data){
			    	ajax_success(data, null)
			    }
			});
	    },
	});
}
function show_add_standing_orders(pat_id){
<?php if($_SESSION['user']['role'] !== '医生') :?>
	$.alert({
		title: '警告',
	    content: '请使用医生账号添加医嘱',
	    confirmButton: '确定',
	    confirmButtonClass: 'btn-warning',
	    closeIcon: true,
	    backgroundDismiss: false,
	    columnClass: 'col-md-6 col-md-offset-3',
	});
	return;
<?php endif;?>
	$.confirm({
		title: '添加长期医嘱',
	    content: '<form id="js-so-form">'+
				  '<div class="form-group">'+
				    '<label>医嘱内容</label>'+
				    '<input type="text" name="so_content" class="form-control">'+
				  '</div>'+
				  '<div class="form-group">'+
				    '<label>开始执行时间</label>'+
				    '<input type="text" name="start_time" class="form-control">'+
				  '</div>'+
				  '<div class="form-group">'+
				    '<label>医生签字</label>'+
				    '&nbsp;&nbsp;&nbsp;<div onclick="claer_doctor_sign()" class="btn btn-xs btn-success">清除</div>'+
				    '<div><canvas id="js-doctor-sign" style="border:1px solid #000"></canvas></div>'+
				  '</div>'+
				'</form>',
	    confirmButton: '添加',
	    confirmButtonClass: 'btn-info',
	    cancelButton: '关闭',
	    cancelButtonClass: 'btn-warning',
	    closeIcon: true,
	    backgroundDismiss: false,
	    columnClass: 'col-md-6 col-md-offset-3',
		onOpen: function () {
	        var canvas = document.querySelector("#js-doctor-sign");
	    	// console.log(canvas,canvas.parentNode);
			canvas.width = canvas.parentNode.clientWidth;
    		canvas.height = '230';
			window.DOCTOR_SIGN = new SignaturePad(canvas);
			$('#js-so-form input[name="start_time"]').daterangepicker($.extend(true, {
				"startDate": moment(),
				"minDate": moment(),
			    "singleDatePicker": true,
			    "timePicker": true,
			    "timePicker24Hour": true,
				locale: {
					format: 'YYYY-MM-DD HH:mm:ss'
				}
			}, datarangepickerChineseSet));
			$('.daterangepicker').css('z-index','999999999');
	    },
		confirm: function () {
			var standing_orders = $('#js-so-form').serializeArray();
			standing_orders.push({name:'doctor_sign',value: DOCTOR_SIGN.toDataURL()});
			standing_orders.push({name:'pat_id',value: pat_id});
        	// 进行缴费
        	$.ajax({
			    type: 'post',
			    url: "<?=site_url('Orders/add_standing_orders')?>",
			    data: standing_orders,
			    success: function(data){
			    	ajax_success(data, null)
			    }
			});
	    },
	});
}
function claer_doctor_sign(){
	DOCTOR_SIGN.clear();
}
</script>

</html>